<!DOCTYPE html>
<html>
<head>
	<title>血液科考试</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/exam.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
	<style type="text/css">
		td label{font-weight: 400;}
	</style>
</head>
<body ng-app="myApp">
	<div ng-controller="appController" class="container">
		
		<nav class="navbar navbar-default" role="navigation" >
			<div class="navbar-header ">
				<a href="javascript:($('#home_').click());" class="navbar-brand visable-sm">
					<span class="glyphicon glyphicon-home"></span>
				</a>
				<button class="navbar-toggle" data-toggle="collapse" data-target="#myTab">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="myTab">
				<ul class="nav navbar-nav" >
					<li  role="presentation" class="active"><a data-toggle="tab" id="home_" href="#home">首页</a></li>
			  		<li  role="presentation" ><a data-toggle="tab" id="exams" href="#exam">在线考试</a></li>
				    <li  role="presentation"><a data-toggle="tab" href="#questions">题库</a></li>
				</ul>
			</div>
		</nav>

		
		<div class="tab-content ">
			<div class="tab-pane fade in active col-lg-8 col-sm-offset-2" id="home" >
				<div class="panel panel-default ">
					<div class="panel-heading">
						<h3 class="panel-title">
							考试说明：
						</h3>
					</div>
					<div class="panel-body">
						<div class="well">
							<p>40个单项选择题（每题2分）</p>
							<p>5个多项选择题（每题4分）</p>
							<p>总分为100分</p>
						</div>
						<div class="col-lg-offset-5 col-xs-offset-4">
							<input type="button" value="开始考试" class="btn btn-info" onclick="start();">
						</div>
					</div>

				</div>
			</div><!--end home-->
			<div class="tab-pane fade" id="exam">
				<div>
					<table class="tab">
						<tbody ng-repeat="items in answersA track by $index">
							<tr>
								<td>
									<strong><span ng-class="{'alert-danger':items.result}">{{items.id+"、"+items.question+"："}}</span></strong>
								</td>
								<td ng-show="items.result">
									<span class="alert-danger glyphicon glyphicon-remove"></span>
								</td>
							</tr>
							<tr ng-repeat="item in items.options track by $index" ng-if="items.answer.length==1">
								<td colspan="2">
									<label>
									<input type="radio" name="{{items.id}}" ng-model="items.select" value="{{item |optionFilter}}">{{item}}</input>
									</label>
								</td>
							</tr>
							<tr ng-repeat="item in items.options track by $index" ng-if="items.answer.length!=1">
								<td>
									<label>
									<input type="checkbox" name="{{items.id}}" ng-model="items.select[('s'+$index)]" value="{{item | optionFilter}}"> {{item}}
									</label>
								</td>
							</tr>
						</tbody>
					</table>
				</div>			
				<div>
					<nav>
					  <ul class="pagination">
					    <li><a href="javascript:void(0)" ng-click="prePage(page.pageNow);">&laquo;</a></li>
					    <li ng-class="{'active':page.pageNow==1}"><a href="javascript:void(0)" ng-click="changePage(1);">1</a></li>
					    <li ng-class="{'active':page.pageNow==2}"><a href="javascript:void(0)" ng-click="changePage(2);">2</a></li>
					    <li ng-class="{'active':page.pageNow==3}"><a href="javascript:void(0)" ng-click="changePage(3);">3</a></li>
					    <li ng-class="{'active':page.pageNow==4}"><a href="javascript:void(0)" ng-click="changePage(4);">4</a></li>
					    <li ng-class="{'active':page.pageNow==5}"><a href="javascript:void(0)" ng-click="changePage(5);">5</a></li>
					    <li ><a href="javascript:void(0)" ng-click="nextPage(page.pageNow);">&raquo;</a></li>
					  </ul>
					</nav>
				</div>
				<div class="">
					<input type="button" value="答题完毕" class="btn btn-info " ng-click="commit();" style="margin-bottom: 20px;"></input>
				</div>
				
				<!-- 模态框（Modal） -->
				<div>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										&times;
									</button>
									<h5 class="modal-title" id="myModalLabel">
										在线考试得分
									</h5>
								</div>
								<div class="modal-body" style="text-align: center;">
									<h4>{{examResult.score+" 分"}}</h4>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭
									</button>
									<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:window.location.reload();">
										重新开始
									</button>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal -->
					</div>
				</div>
			</div><!--end exam-->
			<div class="tab-pane fade" id="questions"> 
				<div class="tab-pane fade in active col-lg-8 col-sm-offset-2" id="home" >
					<div class="panel panel-default ">
						<div class="panel-heading">
							<h3 class="panel-title">题库：</h3>
						</div>
						<div class="panel-body">
							<h5>暂无</h5>
						</div>
					</div>
				</div>
			</div><!--end questions-->
			
		</div><!--end tab-content-->
		<div class="footer">
		</div>
	</div><!--end container-->
</body>
</html>